/* Paleta de colores */
:root {
    --color-primario: #4CAF50;
    --color-secundario: #000000;
    --color-fondo: #FFFFFF;
    --color-texto-principal: #333333;
    --color-texto-secundario: #555555; /* Ajuste de un tono más oscuro */
  }
  
  /* Tipografía */
  h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: var(--color-primario);
  }
  
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-texto-principal);
  }
  
  /* Estilos específicos para la página de detalles del producto */
  body {
    background-color: var(--color-fondo);
    color: var(--color-texto-principal);
    margin: 0;
    padding: 20px;
  }
  
  header {
    background-color: var(--color-secundario);
    color: #FFFFFF;
    text-align: center;
    padding: 1rem 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  #detalles-producto {
    margin-top: 20px;
  }
  
  .precio {
    color: var(--color-primario);
    font-size: 20px;
    font-weight: bold;
  }
  
  .imagenes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .imagenes img {
    width: 30%;
  }
  
  .reseñas {
    display: flex;
    justify-content: space-between;
  }
  
  .reseña {
    width: 45%;
    border: 1px solid var(--color-primario);
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .calificación {
    color: var(--color-primario);
    font-weight: bold;
  }

  #especificaciones ul {
    list-style: none;
  }
  
  /* Enlaces */
  a {
    color: var(--color-secundario);
    text-decoration: none;
    transition: color 0.3s;
    font-size: 25px;
  }
  
  a:hover {
    color: var(--color-primario);
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--color-secundario);
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  nav a:hover {
    text-decoration: none;
  }
  
  .container {
    background-color: var(--color-fondo);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align:center;
    width:50%;
    margin: 0 auto; 
  }